body {
  background-color: #312a2a;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
    color: #e9dcdc;
    text-align: center;
}

h2{
  color: #e9dcdc;
}

p{
  color: brown;
}

input{
  color: #e9dcdc;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  outline: none;
  transition: padding 0.5s ease;
}

input:focus{
  padding: 1rem;
}

button{
  margin-top: 2rem;
  color: #e9dcdc;
  cursor: pointer;
  background: none;
  border: none;
  padding: 1rem;
}

button:hover{
  border: 1px solid #e9dcdc;
  border-radius: 7px;
}

button:active{
  background-color: #e9dcdc;
  color: #312a2a;
}

.aline{
  display: flex;
  justify-content: center;
  flex-direction: column;
}